version: '3.8'
# name: transcendence

services:
  db:
    image: postgres:latest
    container_name: postgres
    expose:
      - "5432"
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      PG_DATA: /var/lib/postgresql/data
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      POSTGRES_DB: $POSTGRES_DB
      POSTGRES_USER: $POSTGRES_USER
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD
      DATABASE_URL: $DATABASE_URL
      JWT_SECRET: $JWT_SECRET
      FT_UID: $FT_UID
      FT_SECRET: $FT_SECRET
    depends_on:
      - "db"
    volumes:
      - ./backend:/app
      - images:/app/images
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:8080"
    environment:
      FT_AUTHORIZE: $FT_AUTHORIZE
    volumes:
      - ./frontend:/app

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: $PGADMIN_DEFAULT_EMAIL
      PGADMIN_DEFAULT_PASSWORD: $PGADMIN_DEFAULT_PASSWORD
    depends_on:
      - "db"
    restart: always

volumes:
  db_data:
  images:

networks:
  default:
    name: transcendence
